<nav class="navbar navbar-expand-lg w-100 bg-light mb-5 z-4">
  <div class="container">
    <a class="navbar-brand">Task2</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink=""
            routerLinkActive="text-primary"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="alluser"
            routerLinkActive="text-primary"
            >allUsers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="login"
            routerLinkActive="text-primary"
            >login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="register"
            routerLinkActive="text-primary"
            >register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contact"
            routerLinkActive="text-primary"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
